:root{
    /* COLORS */
    --dark-color: linear-gradient(180deg, #36015d, black);
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-color-bk: linear-gradient(180deg, #fade85, white);
    --light-icon-color: #FFDE59;
    --b--color: #36015d;
  }

.dark-theme{
    background: var(--dark-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
  background: var(--light-color-bk);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.color a{
    color: var(--light-color);
}
  
h1,p,h2,a{
  color: var(--b--color);
}

* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

a {
    color: var(--b--color);
    text-decoration: none;
}

a:hover{
  font-weight: bold;
}
  
  .paddings {
    padding: 1.5rem;
  }
  
  .innerWidth {
    width: 100%;
  }
  
  .flexCenter {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .flexColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flexColStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .flexColEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .primaryText {
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .secondaryText {
    color: rgb(140 139 139);
    font-size: 0.9rem;
  }
  .orangeText {
    color: orange;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .button{
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    transition: all 300ms ease-in;
  }
  
  .button:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  /* media queries */
  @media (min-width: 1536px) {
    .innerWidth {
      max-width: 1280px;
      margin: auto;
    }
  }
  
  @media (min-width: 640px) {
    .paddings {
      padding: 4rem;
    }
  }
  
  @media (min-width: 1280px), (min-width: 768px) {
    .paddings {
      padding: 2rem;
    }
  }
  
  @media (max-width: 640px) {
    .primaryText {
      font-size: 1.5rem;
    }
    .orangeText {
      font-size: 1.2rem;
    }
  }

.color h2 {
  color: var(--light-color);
  color: #fff;
} 

.color p {
  color: var(--light-color);
  color: #fff;

} 

.color h1 {
  color: var(--light-color);
  color: #fff;

} 
.grid-container
{
  display: grid;
  grid-template-columns: 275px 420px 300px ;
  gap: 80px;
  margin-left: 75px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.texto2
{
  margin-top: 0px;
}

.imagem1
{
  width: 275px;
}
.imagem2
{
  width: 400px;
}
.imagem3
{
 width: 300px;
}
